<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Register</h1>
    <input type="text" placeholder="email" id="r_user" />
    <input type="text" placeholder="password" id="r_pass" />
    <button onclick="register()">Submit</button>
    <h1>Login</h1>
    <input type="text" placeholder="email" id="l_user" />
    <input type="text" placeholder="password" id="l_pass" />
    <button onclick="login()">Submit</button>

    <script src="/static/js/auth.js"></script>
  </body>
</html>
